/* this is a header part */ 
 header{ 
    
     width: 1320px;
     height: 600px; 
     background-image:linear-gradient(#070211, #07021100), url('banner\ Image.png'); 
     background-repeat: no-repeat;  
      margin-left: 70px;  
       margin-top: 50px;  
        border-radius: 10px;
        
        
     
      
     
 }
.header-total-div{ 
    width: 600px; 
     padding-top: 155px ; 
     margin-left: 350px;
  
}
  .header-frist-part{ 
    color: #FFF;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 32px;
font-weight: 400;  
 margin-bottom: 0;
  
  

  } 
   .header-last-part{ 
    color: #FFF;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;
font-style: normal;
font-weight: 900; 
   margin-top: 10px;

   }   
       /* closs header part */ 

         /* this is  main frist part  */



         
  .off{ 
    color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 75px;

font-weight: 700; 
 margin-top: 120px;  
  margin-bottom: 30px;
  

  } 
   .our-holiday{ 
    color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 18px;

font-weight: 500; 
 margin-bottom: 0; 
  margin-top:0;

   } 
    .all{ 
        color: #070211;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 40px;

font-weight: 700; 
 margin-top: 10px; 
  margin-bottom: 50px;

    } 
       .happy-new-year{ 
       margin-left: 300px;
       }
   /* closs section1  part */
   .section2{ 
    background-image:linear-gradient(#070211, #07021100), url('Vectorrr.png'); 
     background-repeat: no-repeat; 
      width: 1320px; 
       height: 600px;
       margin: 120px 70px ; 
        border-radius:10px ;
   } 
   .section2-total-div{ 
     display: flex; 
      padding-top: 80px;
   } 
   .content-div{  
     width: 700px;  
       margin-left: 50px;

   } 
    .section2-head{ 
        color: #FFF;
        font-family: 'Merriweather', serif;
        font-size: 64px;
        width: 600px;
        font-weight: 900;
        line-height: 88px; 
        letter-spacing: 5px; 
        margin-bottom: 24px;
    }
    .section2-pera{ 
        color: rgba(255, 255, 255, 0.80);
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 400; 
         margin-top: 0;
      
    } 
     .join-now{ 
        padding: 10px;  
         background-color: #F00; 
          border: none; 
           border-radius: 5px;
         color: #FFF;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 700; 
 padding: 15px 25px;


      } 
       .img-div{ 
        margin-left: 110px;
       } 
        /* section2 part closs */
         .section3{ 
            width: 1320px; 
            height: 482px; 
             background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
              border-radius: 10px;  
            margin: 0 70px 100px; 
             
               
         } 
          .section3-head{ 
            color: #070211;
            font-family: 'Inter', sans-serif;
             font-size: 25px;
            font-weight: 600; 
             text-align: center;


          } 
          .sec-span{ 
            color: #F00;

            font-family: 'Inter', sans-serif;
            font-size: 28px;
            font-weight: 600;
} 
 .button2{ 
    padding: 10px;  
         background-color: #F00; 
          border: none; 
           border-radius: 5px;
           color: #FFF;
         text-align: center;
         font-family: 'Inter', sans-serif;
        font-size:15px;
        font-weight: 700; 
         margin-left: 610px; 
          margin-top: 30px; 
           padding: 15px 25px;
           
 }  
  .section3-content{ 
   padding-top: 100px;
  } 
    
     /* section3 closs */ 
      .frist-div{ 
        height: 450px; 

          
      } 
          /* third div work */  


          .third-div{ 
            padding-top: 50px;
          }
           .second-div{ 
            display: flex; 
             margin-left: 100px;
           } 

          .first-head{ 
            color: #F00;

            font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 500; 
 margin-bottom: 0;

          }
          .second-head{ 
            color: #070211;
            font-family: 'Merriweather', serif;
             font-size: 45px;
              font-weight: 900; 
               margin-top: 15px; 
                margin-bottom: 0;


          }
  
          .first-pera{ 
            color: rgba(7, 2, 17, 0.60);
            font-family: 'Inter', sans-serif;
        font-size: 16px;

         font-weight: 400; 
          width: 350px; 
           line-height: 28px; 
            margin-top: 15px;

          } 


              /* five-div work */
.four-div{ 
     margin-left: 80px; 
     height: 463px; 
     width: 463px;
      
        margin-bottom: 50px; 
         border-radius: 100%; 
          border: 10px solid #F00;
} 
.section4-img{ 
     padding: 50px;
}

              .last-head{ 
                color: #F00;
                font-family: 'Inter', sans-serif;
                font-size: 45px;
                font-weight: 700;
         
              } 
               .last-pera{  
                color: rgba(7, 2, 17, 0.60);
                font-family: 'Inter', sans-serif;
                font-size: 18px;
    
                font-weight: 400;
                line-height: 28px; 
                width: 300px;
               }
  /* five div work */
   .five-div{ 
 padding-left: 80px;  
  padding-top: 150px;
 
   }    

/* 
   section4 work */  
    .total-full-div{ 
      margin-top: 120px;
    }
   .what-is-fuction{ 
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
     font-weight: 500; 
      text-align: center;

   } 
    .fithpersent-sale{ 
      color: #070211;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;

font-weight: 900; 
 margin-top: 0; 
  margin-bottom: 0;

    }  
     .dolor-pera{ 
      color: rgba(7, 2, 17, 0.60);

font-family: 'Inter', sans-serif;
font-size: 20px;

font-weight: 500;
 width: 900px;  
  height:20px;
  padding-left: 300px; 
  text-align: center; 
   margin-top: 20px;
     } 
      .holidays{ 
        color: #F00;
font-family: 'Merriweather', serif;
font-size: 72px;
font-weight: 900;
      } 
       .rectangle{ 
        background-image: url('Rectangle\ 1.png'); 
        width: 1320px; 
        height: 400px; 
         border-radius: 8px;  
          background-repeat: no-repeat; 
         background-position: right;
        
       } 
        .rectangle2{ 
          background-image: url('Rectangle\ 2.png'); 
           width: 1320px; 
            height: 628px; 
             border-radius: 8px;  
              background-repeat: no-repeat; 
               background-position: bottom;
              
        } 
         .img-use-tag{ 
          margin: 100px 70px;
         }
     .group44{   
      
      padding-bottom: 230px; 
       padding-left: 20px;
       
       
     
     } 
    .group75{ 
      height: 500px; 
        padding-top: 100px; 
         padding-left: 100px;
    }