/* this is a header part */ 
 header{ 
    
     width: 1320px;
     height: 600px; 
     background-image:linear-gradient(#070211, #07021100), url('banner\ Image.png'); 
     background-repeat: no-repeat;  
      margin-left: 70px;  
       margin-top: 50px;  
        border-radius: 10px;
        
        
     
      
     
 }
.header-total-div{ 
    width: 600px; 
     padding-top: 155px ; 
     margin-left: 350px;
  
}
  .header-frist-part{ 
    color: #FFF;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 32px;
font-weight: 400;  
 margin-bottom: 0;
  
  

  } 
   .header-last-part{ 
    color: #FFF;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;
font-style: normal;
font-weight: 900; 
   margin-top: 10px;

   }   
       /* closs header part */ 

         /* this is  main frist part  */



         
  .off{ 
    color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 75px;

font-weight: 700; 
 margin-top: 120px;  
  margin-bottom: 30px;
  

  } 
   .our-holiday{ 
    color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 18px;

font-weight: 500; 
 margin-bottom: 0; 
  margin-top:0;

   } 
    .all{ 
        color: #070211;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 40px;

font-weight: 700; 
 margin-top: 10px; 
  margin-bottom: 50px;

    } 
       .happy-new-year{ 
       margin-left: 300px;
       }
   /* closs section1  part */
   .section2{ 
    background-image:linear-gradient(#070211, #07021100), url('Vectorrr.png'); 
     background-repeat: no-repeat; 
      width: 1320px; 
       height: 600px;
       margin: 120px 70px 100px ; 
        border-radius:10px ;
   } 
   .section2-total-div{ 
     display: flex; 
      padding-top: 80px;
   } 
   .content-div{  
     width: 700px;  
       margin-left: 50px;

   } 
    .section2-head{ 
        color: #FFF;
        font-family: 'Merriweather', serif;
        font-size: 64px;
        width: 600px;
        font-weight: 900;
        line-height: 88px; 
        letter-spacing: 5px; 
        margin-bottom: 24px;
    }
    .section2-pera{ 
        color: rgba(255, 255, 255, 0.80);
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 400; 
         margin-top: 0;
      
    } 
     .join-now{ 
        padding: 10px;  
         background-color: #F00; 
          border: none; 
           border-radius: 5px;
         color: #FFF;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 700; 
 padding: 15px 25px;


      } 
       .img-div{ 
        margin-left: 110px;
       } 
        /* section2 part closs */
         .section3{ 
            width: 1320px; 
            height: 482px; 
             background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
              border-radius: 10px;  
            margin: 0 70px 100px; 
             
               
         } 
          .section3-head{ 
            color: #070211;
            font-family: 'Inter', sans-serif;
             font-size: 25px;
            font-weight: 600; 
             text-align: center;


          } 
          .sec-span{ 
            color: #F00;

            font-family: 'Inter', sans-serif;
            font-size: 28px;
            font-weight: 600;
} 
 .button2{ 
    padding: 10px;  
         background-color: #F00; 
          border: none; 
           border-radius: 5px;
           color: #FFF;
         text-align: center;
         font-family: 'Inter', sans-serif;
        font-size:15px;
        font-weight: 700; 
         margin-left: 610px; 
          margin-top: 30px; 
           padding: 15px 25px;
           
 }  
  .section3-content{ 
   padding-top: 100px;
  } 
    
     /* section3 closs */ 
      .frist-div{ 
        height: 450px; 

          
      } 
          /* third div work */  


          .third-div{ 
            padding-top: 50px;
          }
           .second-div{ 
            display: flex; 
             margin-left: 100px;
           } 

          .first-head{ 
            color: #F00;

            font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 500; 
 margin-bottom: 0;

          }
          .second-head{ 
            color: #070211;
            font-family: 'Merriweather', serif;
             font-size: 45px;
              font-weight: 900; 
               margin-top: 15px; 
                margin-bottom: 0;


          }
  
          .first-pera{ 
            color: rgba(7, 2, 17, 0.60);
            font-family: 'Inter', sans-serif;
        font-size: 16px;

         font-weight: 400; 
          width: 350px; 
           line-height: 28px; 
            margin-top: 15px;

          } 


              /* five-div work */
.four-div{ 
     margin-left: 80px; 
     height: 463px; 
     width: 463px;
      
        margin-bottom: 50px; 
         border-radius: 100%; 
          border: 10px solid #F00;
} 
.section4-img{ 
     padding: 50px;
}

              .last-head{ 
                color: #F00;
                font-family: 'Inter', sans-serif;
                font-size: 45px;
                font-weight: 700;
         
              } 
               .last-pera{  
                color: rgba(7, 2, 17, 0.60);
                font-family: 'Inter', sans-serif;
                font-size: 18px;
    
                font-weight: 400;
                line-height: 28px; 
                width: 300px;
               }
  /* five div work */
   .five-div{ 
 padding-left: 80px;  
  padding-top: 150px;
 
   }    

/* 
   section4 work */  
    .total-full-div{ 
      margin-top: 120px;
    }
   .what-is-fuction{ 
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
     font-weight: 500; 
      text-align: center;

   } 
    .fithpersent-sale{ 
      color: #070211;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;

font-weight: 900; 
 margin-top: 0; 
  margin-bottom: 0;

    }  
     .dolor-pera{ 
      color: rgba(7, 2, 17, 0.60);

font-family: 'Inter', sans-serif;
font-size: 20px;

font-weight: 500;
 width: 900px;  
  height:20px;
  padding-left: 300px; 
  text-align: center; 
   margin-top: 20px;
     } 
      .holidays{ 
        color: #F00;
font-family: 'Merriweather', serif;
font-size: 72px;
font-weight: 900;
      } 
       .rectangle{ 
        background-image: url('Rectangle\ 1.png'); 
        width: 1320px; 
        height: 400px; 
         border-radius: 10px;  
          background-repeat: no-repeat; 
         background-position: right;
        
       } 
        .rectangle2{ 
          background-image: url('Rectangle\ 2.png'); 
           width: 1320px; 
            height: 628px; 
             border-radius: 8px;  
              background-repeat: no-repeat; 
               background-position: bottom;
              
        } 
         .img-use-tag{ 
          margin: 100px 70px;
         }
     .group44{   
      
      padding-bottom: 150px; 
       padding-left: 100px;
       
       
     
     } 
    .group75{ 
      height: 500px; 
        padding-top: 20px; 
         padding-left: 150px; 
          
    }  

     /* section3 work */ 



     .portfolio-div{ 
       margin-left: 70px;
     } 
      .gift{ 
        color: #F00;
        font-family: 'Inter', sans-serif;
       font-size: 16px;
        font-weight: 500; 
        margin: 10px 0;
      
      
       
   

      } 
       .asome-portfolio{ 
        color: #070211;
        font-family: 'Merriweather', serif;
        font-size: 45px;
        font-weight: 900; 
        margin: 10px 0;  
       
        


       } 
         .asome-pera{ 
          color: rgba(7, 2, 17, 0.60);
          font-family: 'Inter', sans-serif;
          font-size: 20px;
          font-weight: 400; 
           width: 900px;

         } 
             .all-img-div{
              margin-top: 30px;
             } 
              .picture{ 
                margin: 5px;  
                 
                 
              } 
               .picture:hover{ 
               border: 1px solid rgb(37, 5, 51);  
                border-radius: 20px;
              
               }  
                  /* section six start */ 

                  .last-main-div{  
                     margin: 80px 70px;
                    width: 1320px; 
                     height: 600px; 
                      background-color: rgba(255, 0, 0, 0.05); 
                       border-radius: 15px;
                  } 
                   .last-main-div-under{ 
                     text-align: center; 
                    padding-top: 100px;
                   } 
                    .last-picture{ 
                      width: 100px;
                     height: 100px;

                    } 
                     .last-main-head{ 
                      color: #070211;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 48px;
font-weight: 900; 
 margin-bottom: 0;


      }
                      .last-main-pera{
                           color: rgba(7, 2, 17, 0.60);
                           font-family: 'Inter', sans-serif;
                           font-size: 20px;
                           font-weight: 400; 
                           width: 800px; 
                           margin-left: 250px; 
                           margin-top: 10px;
                                          }   
                     
                     


                     /* this is form part */ 
                      .total-form-div{
                        margin-top: 40px;
                      }
                      
                      .form-div{ 
                        display: flex; 
                        margin-left: 450px;
                      } 
                       .last-email{ 
                         width: 250px; 
                         height: 50px; 
                         background-color: #fff; 
                         border: none; 
                         padding-left: 20px; 
                         border-radius: 30px 0 0 30px; 
                         outline: none;
                                              } 
                      .button3{ 
                        border: none; 
                        width: 150px; 
                        background-color:#F00;
                        text-align: center; 
                        height: 50px; 
                        border-radius: 0 30px 30px 0;
                                                 } 
                      .subcribe{ 
                          color: #FFF;
                          font-family: Inter;
                          font-size: 15px;
                          font-weight: 600;
                                        } 


                         input::placeholder{ 
                          font-size: 15px; 
                           color: rgba(7, 2, 17, 0.30);
                                               }  
                          
                                

                         /* main part complete */  

                              /* this is footer part start */ 


          .main-footer{
        
              height: 600px; 
               background-color: #070211; 
                border-radius: 10px; 
               margin: 120px 0 0; 
           
               
                  
          }   
           .main-div-uppar-content{ 
             display: flex;
             justify-content: space-around; 
           }                  
                 .one{ 
                  color: #FFF;
font-family: Inter;
font-size: 24px;

font-weight: 500;
line-height: 40px; 
 width: 350px; 
 
                 } 
                  .two{ 
                    color: #FFF;
font-family: Inter;
font-size: 24px;

font-weight: 500; 
display: inline; 



                  } 
                   .three{ 
                     color: white;  
                      font-size: 24px; 
                       font-weight: 500; 
                      display: inline;
                   } 
                    
                    .div-one { 
                      margin-top: 100px;
                    } 
                    .div-two{ 
                       margin-top: 130px;
                    } 
                     .logo{ 
                       margin-top: 40px;
                        margin-left: 620px;
                     } 
                      .all-logo{ 
                        margin-left:15px; 
                         margin-bottom: 25px;
                      }

                      .last-part-footer{ 
                         display: flex; 
                          justify-content: space-around; 
                           gap:500px; 
                            margin-top: 50px;
                      }

                      .last-footer-pera{ 
                        color: #FFF;
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 500;

                      }
   
     


